{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'indexer/style.css' %}" />

{% block content %}
<h1>Cambridge Music Review Links</h1>
<a href = "{% url 'display_db_index' %}">Current index</a><br>
<a href = "{% url 'search' %}">Search</a><br>

<a href = "{% url 'display_db_index_raw' %}">Current index as raw HTML</a> suitable for inserting into WordPress widget<p>
<a href = "{% url 'refresh_from_wp' %}">Refresh_from_wp</a>
     (SLOW!) clears DB, visits WordPress site, populates DB, presents view of data<br>
<a href = "{% url 'update_from_wp' %}">Update_from_wp</a>
     (SLOW!) visits WordPress site, adds any new articles to DB, presents view of new data<br>
{% endblock %}
