{% if show_raw_html %}
    <xmp>
{% endif %}
<h2>About</h2>
<p><a href="https://cambridgemusicreviews.net/about/">About this site</a></p>
{% if article_list_extras %}
    <h2>Extras</h2>
    <p>
    <div class="cmr-extras">
    {% for article in article_list_extras %}
        <a href={{ article.url }}>{{ article.index_text }}</a><br />
    {% endfor %}
    </div>
{% else %}
{% endif %}
{% if article_list_singles %}
    <h2>Singles and EPs</h2>
    <p>
    <div class="cmr-singles">
    {% for article in article_list_singles %}
        <a href={{ article.url }}>{{ article.index_text }}</a><br />
    {% endfor %}
    </div>
{% else %}
{% endif %}
{% if article_list_albums %}
    <h2>Album Reviews</h2>
    <p>
    <div class="cmr-albums">
    {% for article in article_list_albums %}
        <a href={{ article.url }}>{{ article.index_text }}</a><br />
    {% endfor %}
    </div>
{% else %}
{% endif %}
{% if article_list_live %}
    <h2>Live Reviews</h2>
    <p>
    <div class="cmr-live">
    {% for article in article_list_live %}
        <a href={{ article.url }}>{{ article.index_text }}</a><br />
    {% endfor %}
    </div>
{% else %}
{% endif %}
{% if article_list_unclassified %}
    <h2>Extras</h2>
    <p>
    <div class="cmr-unclassified">
    {% for article in article_list_unclassified %}
        <a href={{ article.url }}>{{ article.index_text }}</a></li>
    {% endfor %}
    </div>
{% else %}
{% endif %}
{% if show_raw_html %}
    </xmp>
{% endif %}