{% extends "base.html" %}

{% block content %}
{{ block.super }}
<h1>{{title}}</h1>
{% if show_raw_html %}
    <xmp>
{% endif %}
<h2>About</h2>
<p><a href="https://cambridgemusicreviews.net/about/">About this site</a></p>
{% if article_list_extras %}
    <h2>Extras</h2>
    <p>
    <div class="cmr-extras">
    {% for article in article_list_extras %}
        {% if not show_raw_html %}<a href="{% url 'get_index_text' article.pk%}">edit</a>&nbsp&nbsp{% endif %}
        {% if not show_raw_html and article.index_status > 0 %}<mark>{% endif %}<a href={{ article.url }}>{{ article.index_text }}</a>{% if not show_raw_html and article.index_status > 0 %}</mark>{% endif %}<br />
    {% endfor %}
    </div>
{% else %}
{% endif %}
{% if article_list_singles %}
    <h2>Singles and EPs</h2>
    <p>
    <div class="cmr-singles">
    {% for article in article_list_singles %}
        {% if not show_raw_html %}<a href="{% url 'get_index_text' article.pk%}">edit</a>&nbsp&nbsp{% endif %}
        {% if not show_raw_html and article.index_status > 0 %}<mark>{% endif %}<a href={{ article.url }}>{{ article.index_text }}</a>{% if not show_raw_html and article.index_status > 0 %}</mark>{% endif %}<br />
    {% endfor %}
    </div>
{% else %}
{% endif %}
{% if article_list_albums %}
    <h2>Album Reviews</h2>
    <p>
    <div class="cmr-albums">
    {% for article in article_list_albums %}
        {% if not show_raw_html %}<a href="{% url 'get_index_text' article.pk%}">edit</a>&nbsp&nbsp{% endif %}
        {% if not show_raw_html and article.index_status > 0 %}<mark>{% endif %}<a href={{ article.url }}>{{ article.index_text }}</a>{% if not show_raw_html and article.index_status > 0 %}</mark>{% endif %}<br />
    {% endfor %}
    </div>
{% else %}
{% endif %}
{% if article_list_live %}
    <h2>Live Reviews</h2>
    <p>
    <div class="cmr-live">
    {% for article in article_list_live %}
        {% if not show_raw_html %}<a href="{% url 'get_index_text' article.pk%}">edit</a>&nbsp&nbsp{% endif %}
        {% if not show_raw_html and article.index_status > 0 %}<mark>{% endif %}<a href={{ article.url }}>{{ article.index_text }}</a>{% if not show_raw_html and article.index_status > 0 %}</mark>{% endif %}<br />
    {% endfor %}
    </div>
{% else %}
{% endif %}
{% if article_list_unclassified %}
    <h2>Unclassified</h2>
    <p>
    <div class="cmr-unclassified">
    {% for article in article_list_unclassified %}
        {% if not show_raw_html %}<a href="{% url 'get_index_text' article.pk%}">edit</a>&nbsp&nbsp{% endif %}
        {% if not show_raw_html and article.index_status > 0 %}<mark>{% endif %}<a href={{ article.url }}>{{ article.index_text }}</a>{% if not show_raw_html and article.index_status > 0 %}</mark>{% endif %}<br />
    {% endfor %}
    </div>
{% else %}
{% endif %}
{% if show_raw_html %}
    </xmp>
{% endif %}
{% endblock %}